<div class="row">
    <div class="col-md-4">
      <h3> Sign Up </h3>
      <hr><br>

      <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
            <br>


      <label>
        Email
        <input type="text" formControlName="email" required>
      </label>

      <label>
        Password
        <input type="password" formControlName="password" required>
      </label>



      <button type="submit" [disabled]="!signupForm.valid">Submit</button>

      </form>




      <p>
        <span>Already have an account?%nbsp;</span>
        <a [routerLink]="['/log-in']">Log in!</a>
      </p>
    </div>
</div>
