<label>
  Name:
  <input type="text" [formControl]="name">
</label>
<p> Value {{name.value}}</p>

<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  <button (click)="updateName()">Update Name</button>

  <br>


<label>
  First Name
  <input type="text" formControlName="firstName">
</label>

<label>
  Last Name
  <input type="text" formControlName="lastName">
</label>

<div formGroupName="address">
<h3> Address</h3>

  <label> Street </label>
  <input type="text" formControlName="street">

  <label> City </label>
  <input type="text" formControlName="city">


</div>

<button type="submit" [disabled]="!profileForm.valid">Submit</button>

</form>

<button (click)="updateProfile()"> Update Profile</button>
